body{
    background-color: #f0f7fa !important;
}
.homepage-logo{
    width: 90%
}
.homepage-front{
    margin-bottom: 2em !important;
}
.main-content{

    padding-top: 10em;
    
}
.btn-homepage{
    text-decoration: none;
    color: #333 !important;
}
.btn-homepage:hover{
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
}

.center-content{
    text-align: center;
}
.start{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-top: 2em;
  padding-left: 3em !important;
  padding-right: 3em !important;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border:0 !important;
  color: white !important;
  background-color: #a73962 !important;
}
.start:hover{
    background-color: #ffffff !important;
    border:solid !important;
    border-color: #a73962 ;
    color: #a73962 !important;
    

}
.red-button{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:0 !important;
    color: white !important;
    background-color: #a73962 !important;
}
.red-button:hover{
    background-color: #ffffff !important;
    border:solid !important;
    border-color: #a73962 ;
    color: #a73962 !important;
}
.small-logo{
    width:60%;
}
.note{
    padding: 1em;
    background-color: #fff9abaf;
}
.close-btn{
    border:0;
    background-color: #fff9abaf;
    color:rgb(90, 90, 90);
    font-weight: 800;
    font-size: 1.5em;
}
.note-span{
    font-weight: 600;
}
.main-cards{
    margin:2em;
}
.second-page{
    margin-top: 5em;
}

.img-container {
    width: 100%;
    height: 200px;
  }
  
  .img {
    height: 200px;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #333;
  }
  
  .img-container:hover .overlay {
    opacity: 0.9;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
  }
nav{
 
    margin-bottom: 2em;
    background-color: #a73962 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.third-page{
    width: 100%;
   
   
    
}
.longRow{
    margin-bottom: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}
.sidebar{
    text-align: center;
    padding-top: 2em;
    background-color: #a73962;
    border: solid !important;
    border-width: 0.2em !important;
    padding-bottom: 1em;
  
}
.sub-title{
    color: white;
    font-weight: 700;
}
.collapseArea{
    margin-top: 1.5em;
    width: 100%;
    text-align: left !important;
    color: black !important;
    background-color: #daedfb !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:0 !important;
}
.how-to-butn{
    text-align: left !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:0 !important;
    color: black !important;
    background-color: #fbf168 !important;
}
.how-to-butn:hover{
    color: black !important;
    background-color: #daedfb !important;
}
.collapseArea:hover{
    background-color: #fbf168 !important;
    
}
button:active{
    border-color:pink !important;
}
.x-scroll-disabled {
	overflow-x: hidden;
}

.colorList{
    margin-top: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    list-style-type:none; 
    padding: 2em;
    background-color: #c6e0f2;
    overflow-y: scroll;
    width:22em;
    height: 17em;
    word-wrap:break-word;
    overflow-x: hidden;
    
}
.colorListItem{
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;
    
    background-color: #f0f7fa !important;
}
.back-buttn{
    align-content: flex-start;
    text-align: left;
    color: #a73962 !important;
    background-color: #fbf168 !important;
    border:0 !important;
    font-weight: 700 !important;
}
.back-buttn:hover{
    

    background-color:  #a73962 !important;
    border:solid !important;
    border-color: #fbf168 ;
    color: #fbf168 !important;
}
.close{
    padding-top: 0.6em !important;
}

.green{
    color: rgb(1, 225, 1);
  }
.yellow{
      color: rgb(225, 139, 0);
}
.red{
      color: rgb(120, 0, 0);
}
.black{
      color:black;
}
